.allContainer {
  background-color: rgb(227, 226, 226);
  padding: 60px 0;

  .innerContainer {
    width: 80%;
    margin: 0 auto;
    text-align: center;

    .titleContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .icon {
        font-size: 58px;
      }
      .title {
        font-size: 50px;
      }
    }

    .content {
      display: flex;
      justify-content: space-evenly;
      
      .img {
        width: 60%;
      }
      .text {
        width: 30%;
        text-align: center;
      }
    }
  }
}